<div class="container">
    <h5>Connect to a new device</h5>
    <div class="row">

        <div class="col-sm-12 col-md-6 col-lg-4">
            <label for="device-name">Device name</label>
            <input type="text" name="name" id="device-name" placeholder="Choose a name">

            <label for="hostname">Hostname or IP*</label>
            <input type="text" name="hostname" id="hostname" required>

            <label for="port">Port*</label>
            <input type="text" name="port" id="port" required>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4">
            <label for="username">Username*</label>
            <input type="text" name="username" id="username" required>

            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4">
            <label for="connect">Connect now</label>
            <input type="checkbox" name="connect" id="connect" checked>

            <label for="save">Save to device list</label>
            <input type="checkbox" name="save" id="save" checked>

            <label for="add-to-profile">Add to active profile</label>
            <input type="checkbox" name="add-to-profile" id="add-to-profile">

        </div>
    </div>
</div>
