@import "../../../colors";

.notification-display-wrapper {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 999;
}

.clear-btn-wrapper {
  width: 100%;
  text-align: right;
  padding: 0 5px;
}

