@import "projects/shared-styles/colors";

.node {
}

.action-icon {
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  &:hover {
    color: $colorMain;
  }
}

.description {
  color: transparentize($colorText, 0.3);
  font-size: 12px;
  font-family: "JetBrains Mono", "Source Code Pro", Consolas, monospace;
}

.child-container {
  padding-left: 5px;
  border-left: 1px solid transparentize($colorText, 0.5);
}

.schema-link {
  color: transparentize($colorText, 0.2);
  font-size: 11px;
  font-family: "JetBrains Mono", "Source Code Pro", Consolas, monospace;
  &:hover {
    color: $colorLinkHover;
    text-decoration: underline;
  }
}
