<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-3">
            <div class="tool-wrapper">
                <img class="tool-icon" src="https://image.shutterstock.com/image-vector/example-stamp-260nw-426673501.jpg">
                <div class="tool-text-wrapper">
                    <h1>Example tool</h1>
                    <p>Does nothing... Yet.</p>
                </div>
                <button class="tool-btn btn btn-primary">Use ></button>

            </div>
        </div>
    </div>
</div>
