<table class="table table-hover table-responsive">
    <thead>
    <tr>
        <th>Device name</th>
        <th>Address:port</th>
        <th>Username</th>
        <th>Status</th>
        <th>Disconnect</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let device of connectedDevices">
        <td>{{device.name ? device.name : ""}}</td>
        <td>{{device.hostname}}:{{device.port}}</td>
        <td>{{device.username}}</td>
        <td></td>
        <td><button>Disconnect</button></td>
    </tr>
    </tbody>
</table>
